.card {
    margin: 0.75rem;
    position: relative;
}

.card img {
    position: relative;
    transition: all 100ms ease-in-out;
    top: 0;
}

.card img:hover {
    filter: drop-shadow(0 4px 0 #76161644);
    cursor: pointer;
    top: -4px;
}