.score-bar {
    display: ;
    justify-content: ;
    font-family: ;
    font-weight: ;
    font-size: ;
    text-transform: ;
    color: ;
}

.score {
    margin: ;
}

.high-score {
    margin: ;
}

#win-lose {
    transition: ;
    display: ;
    opacity: ;
}